<div class="wrap">
    <div class="static">

        <h1>Jelszóemlkeztető küldése</h1>

        <p class="lead">(Lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nibh dolor. In hac habitasse platea dictumst. Maecenas convallis at lacus sit amet porttitor. Mauris eleifend volutpat eros, sit amet posuere leo facilisis vitae. Nam luctus luctus massa, ac ornare sem ullamcorper finibus enim at euismod convallis.</p>

        <div class="form-elements">

            <div class="form-line">
                <div class="input-container">
                    <label class="important">Regsiztrált e-mail cím</label>
                    <input type="text" name="" value="" placeholder="Lorem ipsum">
                    <div class="error-msg">Hibaüzenet</div>
                </div>
            </div>

        </div>

        <div class="form-btn-container">
            <a href="" title="" class="btn">Új jelszó kérése</a>
        </div>

    </div>
</div>
