<div class="wrap">

    <div class="homepage product-page">

        <div class="product new sale">

            <div class="img-container">

                <div class="new-badge">Új</div>

                <div class="main-pic">

                    <div class="slide">
                        <a href="" title="">
                            <img src="pics/prod-sample-360x360.jpg" alt="">
                        </a>
                    </div>

                    <div class="slide">
                        <a href="" title="">
                            <img src="pics/prod-sample-360x360.jpg" alt="">
                        </a>
                    </div>

                    <div class="slide">
                        <a href="" title="">
                            <img src="pics/prod-sample-360x360.jpg" alt="">
                        </a>
                    </div>

                    <div class="slide">
                        <a href="" title="">
                            <img src="pics/prod-sample-360x360.jpg" alt="">
                        </a>
                    </div>

                    <div class="slide">
                        <a href="" title="">
                            <img src="pics/prod-sample-360x360.jpg" alt="">
                        </a>
                    </div>

                </div>

                <div class="thumbnails">

                    <div class="slide">
                        <img src="pics/prod-sample-180x180.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="pics/prod-sample-180x180.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="pics/prod-sample-180x180.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="pics/prod-sample-180x180.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="pics/prod-sample-180x180.jpg" alt="">
                    </div>

                </div>


            </div>

            <div class="details">

                <h1>Temék neve lorem ipsum (h1)</h1>
                <div class="subtitle">Alcím, vagy kiegészítető szöveg, esetleg márka</div>
                <div class="barcode">Cikkszám: 0123445665</div>

                <div class="cart-interactions">

                    <div class="usp">
                        <div class="item">
                            <div class="usp-name">Készlet</div>
                            <div class="usp-detail onstock">Raktáron</div>
                        </div>
                        <div class="item">
                            <div class="usp-name">Kiszállítás</div>
                            <div class="usp-detail delivery">Ingyenes</div>
                        </div>
                        <div class="item">
                            <div class="usp-name">Garancia</div>
                            <div class="usp-detail warranty">24 hónap</div>
                        </div>
                    </div>

                    <div class="prod-option">
                        <div class="styled-select">
                            <select>
                                <option>Válasszon méretet!</option>
                                <option>42</option>
                                <option disabled>43</option>
                                <option>43</option>
                            </select>
                        </div>
                    </div>

                    <div class="add-to">
                        <div class="price">
                            <div class="inner">
                                12 500 Ft
                                <div class="old-price">34 990 Ft</div>
                            </div>
                        </div>
                        <div class="button-container">
                            <a href="" title="" class="btn">Kosárba</a>
                        </div>
                    </div>

                </div>

                <h2>Temrék leírása, bemutatása (h2)</h2>
                <p>Praesent sed aliquam neque. Suspendisse molestie, lacus nec maximus pretium, justo enim facilisis risus, at tincidunt mi velit ultricies velit. </p>
                <p>Duis sed neque odio. In suscipit felis eu augue placerat maximus. <a href="" title="">Sed vulputate tempor</a> nibh, eget bibendum enim maximus et. Nam tincidunt mi vitae eros tempus, eget auctor purus rutrum. </p>
                <p>Cras placerat pulvinar aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus rhoncus vestibulum accumsan. Integer accumsan scelerisque augue, nec lacinia erat commodo tristique.</p>

            </div>

        </div>


        <div class="similar-products">

            <div class="products-heading">
                <h2>Ezek is érdekelhetnek</h2>
            </div>

            <div class="product-list">

                <ul class="products">

                    <li>
                        <a href="" title="" class="new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" title="" class="sale new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" title="" class="sale new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" title="" class="sale new">
                            <div class="new-badge">Új</div>
                            <div class="img-container">
                                <img src="pics/prod-sample-180x180.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                            </div>
                        </a>
                    </li>

                </ul>

            </div>
        </div>


    </div>

</div>
