// main: ../css/style.less
// 480

@media screen and (max-width: 374px) {

    // product-list
    .product-list {

        .products {

            li {
                width: 100%;
            }
        }
    }

    // prod-list
    .product-list-page {

        .product-list {

            .products {

                li {
                    width: 100%;
                }
            }
        }

    }

}
