table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #e8e8e8;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #111;
}
table.darkTable {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
}
table.darkTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.darkTable thead {
  background: #72A464;
  border-bottom: 5px solid #FFFFFF;
}
table.darkTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 2px solid #767676;
}
table.darkTable tfoot td {
  font-size: 14px;
}
/* Absolute Center Spinner */
.loading {

  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(254,254,254,.3), rgba(254,254,254,.3));

  background: -webkit-radial-gradient(rgba(254,254,254,.3), rgba(254,254,254,.3));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(220,24,45, 1) 1.5em 0 0 0, rgba(220,24,45, 1) 1.1em 1.1em 0 0, rgba(220,24,45, 1) 0 1.5em 0 0, rgba(220,24,45, 1) -1.1em 1.1em 0 0, rgba(220,24,45, 1) -1.5em 0 0 0, rgba(220,24,45, 1) -1.1em -1.1em 0 0, rgba(220,24,45, 1) 0 -1.5em 0 0, rgba(220,24,45, 1) 1.1em -1.1em 0 0;
box-shadow: rgba(220,24,45, 1) 1.5em 0 0 0, rgba(220,24,45, 1) 1.1em 1.1em 0 0, rgba(220,24,45, 1) 0 1.5em 0 0, rgba(220,24,45, 1) -1.1em 1.1em 0 0, rgba(220,24,45, 1) -1.5em 0 0 0, rgba(220,24,45, 1) -1.1em -1.1em 0 0, rgba(220,24,45, 1) 0 -1.5em 0 0, rgba(220,24,45, 1) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.input-container textarea {
	width: 100%;
	height: 100px;
}
.ch-line.error .error-msg {
    display: block;
}
.ch-line .error-msg {
    display: none;
    padding: 5px 0 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: .25px;
    color: #db0c13;
}
div.error select {
	    border: 1px solid #f96a6a!important;
} 
.error label {
	color: #f96a6a!important;
}
.static .cart-content table tr td.quantity {
    width: 104px;
}
